main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-block: 24px;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
}

main img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
